In [2]:
#Importing library

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#Read the CSV file

fintech_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/bitcoin CSV.csv')
fintech_df

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD,Return,volatility-RV,volatility_parkinson
0,1526364000,5/15/2018 6:00,BTC/USD,8733.86,8796.68,8707.28,8740.99,4.906603e+06,5.599300e+02,NaN,NaN,0.376344
1,1526367600,5/15/2018 7:00,BTC/USD,8740.99,8766.00,8721.11,8739.00,2.390399e+06,2.735800e+02,-0.349378,0.122065,0.095069
2,1526371200,5/15/2018 8:00,BTC/USD,8739.00,8750.27,8660.53,8728.49,7.986063e+06,9.177900e+02,-0.179604,0.032258,0.383281
3,1526374800,5/15/2018 9:00,BTC/USD,8728.49,8754.40,8701.35,8708.32,1.593992e+06,1.826200e+02,0.047187,0.002227,0.133251
4,1526378400,5/15/2018 10:00,BTC/USD,8708.32,8865.00,8695.11,8795.90,1.110127e+07,1.260690e+03,1.255451,1.576157,1.350463
...,...,...,...,...,...,...,...,...,...,...,...,...
39830,1669752000,11/29/2022 20:00,BTC/USD,16423.00,16489.00,16421.00,16487.00,1.266649e+02,2.088324e+06,NaN,NaN,NaN
39831,1669755600,11/29/2022 21:00,BTC/USD,16487.00,16489.00,16453.00,16459.00,5.868971e+01,9.659739e+05,NaN,NaN,NaN
39832,1669759200,11/29/2022 22:00,BTC/USD,16458.00,16487.00,16457.00,16487.00,6.163611e+01,1.016194e+06,NaN,NaN,NaN
39833,1669762800,11/29/2022 23:00,BTC/USD,16487.00,16505.00,16434.00,16434.00,8.026499e+01,1.319075e+06,NaN,NaN,NaN
39834,1669766400,11/30/2022 0:00,BTC/USD,16437.00,16453.00,16430.00,16440.00,1.580297e+01,2.598008e+05,NaN,NaN,NaN

In [ ]:
#Columns of the dataset :

    unix - A timestamp for the minute covered by the row.
    Count - The number of trades that took place this minute.
    Open - The USD price at the beginning of the minute.
    High - The highest USD price during the minute.
    Low - The lowest USD price during the minute.
    Close - The USD price at the end of the minute.
    Volume - The number of cryptoasset units traded during the minute.
    VWAP - The volume weighted average price for the minute.
    Target - 15 minute residualized returns.
    volatility-RV - realized volatility (RV) to better gauge the relative attractiveness of a given trading opportunity.
    volatility_parkinson - Parkinson volatility is a volatility measure that uses the stock’s high and low price of the day.

IndentationError: ignored

In [5]:
fintech_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39835 entries, 0 to 39834
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   unix                  39835 non-null  int64
 1   date                  39835 non-null  object
 2   symbol                39835 non-null  object
 3   open                  39835 non-null  float64
 4   high                  39835 non-null  float64
 5   low                   39835 non-null  float64
 6   close                 39835 non-null  float64
 7   Volume BTC            39835 non-null  float64
 8   Volume USD            39835 non-null  float64
 9   Return                2924 non-null   float64
 10  volatility-RV         2924 non-null   float64
 11  volatility_parkinson  2925 non-null   float64
dtypes: float64(9), int64(1), object(2)
memory usage: 3.6+ MB

In [6]:
fintech_df.describe()

,unix,open,high,low,close,Volume BTC,Volume USD,Return,volatility-RV,volatility_parkinson
count,3.983500e+04,39835.000000,39835.000000,39835.000000,39835.000000,3.983500e+04,3.983500e+04,2924.000000,2924.000000,2925.000000
mean,1.598065e+09,21224.745751,21339.098316,21101.724779,21225.069932,1.346223e+06,2.889299e+06,-0.010054,0.425712,0.432707
std,4.139827e+07,17524.628419,17624.834674,17416.123624,17524.703310,2.897219e+06,6.855270e+06,0.652500,1.999327,1.134666
min,1.526364e+09,3139.760000,3158.340000,3122.280000,3139.760000,0.000000e+00,0.000000e+00,-6.134248,0.000000,0.010997
25%,1.562215e+09,7466.075000,7499.500000,7433.690000,7466.075000,1.017818e+02,2.049550e+02,-0.248774,0.009170,0.086041
50%,1.598065e+09,11331.890000,11374.620000,11266.180000,11333.050000,1.572026e+05,2.022280e+03,-0.049851,0.048870,0.165976
75%,1.633916e+09,36265.955000,36537.980000,35947.115000,36267.755000,1.567121e+06,3.058938e+06,0.181679,0.189862,0.360866
max,1.669766e+09,68635.050000,69000.000000,68447.000000,68627.010000,6.857061e+07,2.582324e+08,6.913182,47.792079,22.405813

In [7]:
#New Feature - Date Month Year

fintech_df['Day_since_started'] = sorted(fintech_df.index.to_list() , reverse = True)

In [8]:
fintech_df['date'] = pd.to_datetime(fintech_df['date']) #.astype('datetimetype')

In [9]:
fintech_df['day'] = fintech_df['date'].dt.day
fintech_df['month'] = fintech_df['date'].dt.month
fintech_df['year'] = fintech_df['date'].dt.year
fintech_df['week'] = fintech_df['date'].dt.week

fintech_df['weekday'] = fintech_df['date'].dt.weekday

fintech_df['weekend'] = fintech_df['date'].dt.weekday == (6 or 7 )
fintech_df

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD,Return,volatility-RV,volatility_parkinson,Day_since_started,day,month,year,week,weekday,weekend
0,1526364000,2018-05-15 06:00:00,BTC/USD,8733.86,8796.68,8707.28,8740.99,4.906603e+06,5.599300e+02,NaN,NaN,0.376344,39834,15,5,2018,20,1,False
1,1526367600,2018-05-15 07:00:00,BTC/USD,8740.99,8766.00,8721.11,8739.00,2.390399e+06,2.735800e+02,-0.349378,0.122065,0.095069,39833,15,5,2018,20,1,False
2,1526371200,2018-05-15 08:00:00,BTC/USD,8739.00,8750.27,8660.53,8728.49,7.986063e+06,9.177900e+02,-0.179604,0.032258,0.383281,39832,15,5,2018,20,1,False
3,1526374800,2018-05-15 09:00:00,BTC/USD,8728.49,8754.40,8701.35,8708.32,1.593992e+06,1.826200e+02,0.047187,0.002227,0.133251,39831,15,5,2018,20,1,False
4,1526378400,2018-05-15 10:00:00,BTC/USD,8708.32,8865.00,8695.11,8795.90,1.110127e+07,1.260690e+03,1.255451,1.576157,1.350463,39830,15,5,2018,20,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39830,1669752000,2022-11-29 20:00:00,BTC/USD,16423.00,16489.00,16421.00,16487.00,1.266649e+02,2.088324e+06,NaN,NaN,NaN,4,29,11,2022,48,1,False
39831,1669755600,2022-11-29 21:00:00,BTC/USD,16487.00,16489.00,16453.00,16459.00,5.868971e+01,9.659739e+05,NaN,NaN,NaN,3,29,11,2022,48,1,False
39832,1669759200,2022-11-29 22:00:00,BTC/USD,16458.00,16487.00,16457.00,16487.00,6.163611e+01,1.016194e+06,NaN,NaN,NaN,2,29,11,2022,48,1,False
39833,1669762800,2022-11-29 23:00:00,BTC/USD,16487.00,16505.00,16434.00,16434.00,8.026499e+01,1.319075e+06,NaN,NaN,NaN,1,29,11,2022,48,1,False
39834,1669766400,2022-11-30 00:00:00,BTC/USD,16437.00,16453.00,16430.00,16440.00,1.580297e+01,2.598008e+05,NaN,NaN,NaN,0,30,11,2022,48,2,False